mySearchEngine/.classpath
mySearchEngine/.gitignore
mySearchEngine/.project
mySearchEngine/target
mySearchEngine/bin
mySearchEngine/.settings/org.eclipse.core.resources.prefs
mySearchEngine/.settings/org.eclipse.jdt.core.prefs
mySearchEngine/.settings/org.eclipse.m2e.core.prefs
/mySearchEngine/res/dewiki-20140216-pages-articles-multistream.xml
mySearchEngine/res/dewiki-20140216-pages-articles-multistream.xml.bz2
.metadata