mySearchEngine/.classpath
mySearchEngine/.gitignore
mySearchEngine/.project
mySearchEngine/.settings/org.eclipse.core.resources.prefs
mySearchEngine/.settings/org.eclipse.jdt.core.prefs
mySearchEngine/.settings/org.eclipse.m2e.core.prefs
